<div id="<%= dom_id type %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= type.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= type.description %>
  </div>
</div>
